.video {
  // margin-bottom: 4.5rem;
  margin-bottom: 6rem;
  &:last-child { margin-bottom: 8rem }
  @include span(12 of 12 no-gutters);
  @include for-tablet-portrait-up {
    @include span(11 of 36 no-gutters);
    margin-bottom: 6rem;
    // &:nth-child(-n+3) { margin-top: 0; }
    &:nth-last-child(-n+3) { margin-bottom: 12rem; }
    &:nth-child(3n+2), &:nth-child(3n+3) { @include push(1.5 of 36); }
  }
  figure {
    overflow: hidden;
    margin-bottom: 3.5rem;
    @include aspect-ratio(16, 9);
  }
  .content {
    // transition: top 0.3s ease;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // padding: 20%;
    // &:hover {
    //   cursor: pointer;
    // }
    // position: relative;
    &::after {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      display: block;
      content: '';
      background: rgba(0, 0, 0, 0.4);
      background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  span {
    // padding-left: gutters(4);
    @include gutters();
    opacity: 1;
    transition: opacity 0.3s ease;
    @include for-tablet-landscape-up {
      padding-left: gutters(3);
    }
    // background-color: pink;
    // margin-bottom: 4rem;
  }
  &:hover {
    // opacity: 0.5;
    cursor: pointer;
    .content {
      &::after { opacity: 1; }
      // top: -2%;
      // padding: 20%;
      // img {
      //   transform: scaleX(1);
      // }
    }
    span {
      opacity: 0.7;
    }
  }
}
