@mixin responsive-width {
  width: 90%;
  max-width: 1550px;
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin margin($position, $factor) {
  // background-color: pink !important;
  // border: 1px solid red !important;
  @include for-phone-only {
    margin-#{$position}: $factor * 3.5rem; }
  @include for-tablet-portrait-up {
    margin-#{$position}: $factor * 5.5rem; }
  @include for-tablet-landscape-up {
    margin-#{$position}: $factor * 7rem; }
  @include for-desktop-up {
    margin-#{$position}: $factor * 7rem; }
  @include for-big-desktop-up {
    margin-#{$position}: $factor * 7rem; }
}
// @mixin center($xy:xy) {
//   @if $xy == xy {
//     left: 50%;
//     top: 50%;
//     bottom: auto;
//     right: auto;
//     transform: translateX(-50%) translateY(-50%);
//   }
//   @else if $xy == x {
//     left: 50%;
//     right: auto;
//     transform: translateX(-50%);
//   }
//   @else if $xy == y {
//     top: 50%;
//     bottom: auto;
//     transform: translateY(-50%);
//   }
// }

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
