// SUSY

$susy: (
columns: 12,
gutters: 1/4,
math: fluid,
output: float,
gutter-position: inside,
debug: (
image: hide,
color: rgba(#66f, .25),
output: background,
toggle: top right,
)
);

$container-style: fluid;

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700|Hind:300,400,500,600,700|Shanti');

$def-font: 'Hind', sans-serif;
$alt-font: 'Shanti', sans-serif;

// BRAND COLORS
// $color001: #1C6A54;
// $color002: #4500EE;
// $color002: #7437FF;
// $color002: #0496FF;
// $color002: #6236db;
$color002: #FD6D00;
// $color002: #4500EE;
// $color002: #1C6A54;
// $color003: #FD6D00;

// PORTFOLIO
$portfolio-button-color: lighten(#000, 80%);
$portfolio-text-color: #fff;
$audio-player-title-color: $color002;
$portfolio-bg-color: darken(#171717, 5%);
$portfolio-overlay-color: rgba(0, 0, 0, 0.5);

// PROJECT
$video-bg-color: $portfolio-bg-color;

// FOOTER
$footer-bg-color: #404040;
