.portfolio-wrapper {
  pointer-events: none;
  @include for-tablet-landscape-up {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    top: 0; left: 0; right: 0;
  }
  .portfolio-overlay {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    display: block;
    content: '';
    background: $portfolio-overlay-color;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    will-change: opacity;
  }
  .portfolio {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0; left: 0; right: 0;
    background: $portfolio-bg-color;
    @include for-tablet-landscape-up {
      position: absolute;
      transition: transform 0.3s ease-in;
      top: 100vh;
      transform: translateY(0);
      will-change: transform;
    }
  }
}

.portfolio-content {
  @include container;
  @include responsive-width;
  position: relative;
  // transition: opacity 1s ease;
  // opacity: 1;
  will-change: opacity;
  // &.hidden { opacity: 0; }
  > ul {
    position: relative;
    padding-top: 7rem;
    @include container;
    @include gutters();
    .portfolio-nav-a {
      display: inline-block;
      padding: 0 3rem;
      float: left;
      transition: color 0.3s ease;
      &:first-child { padding-left: 0; margin-left: 0; }
      &.active-window { pointer-events: none; }
    }
  }
  .close-portfolio {
    position: absolute;
    display: block;
    content: '';
    height: 2.2rem;
    width: 2.2rem;
    right: gutters(20);
    top: 7.7rem;
    overflow: hidden;
    transform: rotate(45deg);
    &::before, &::after {
      position: absolute;
      display: block;
      content: '';
      width: 0.2rem;
      height: 100%;
      background-color: #fff;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      transform: translateX(-50%) rotate(90deg);
    }
  }
}

html.portfolio-open {
  background-color: $portfolio-overlay-color;
  overflow: hidden;
  &#video { overflow: auto; }
  .portfolio-wrapper { pointer-events: auto; }
  .portfolio-overlay { opacity: 1; }
  .portfolio {
    @include for-tablet-landscape-up {
      transition: transform 0.3s ease-out;
      transform: translateY(-52rem);
    }
  }
  // &.portfolio-to-top {
  //   .portfolio {
  //     @include for-tablet-landscape-up {
  //       transform: translateY(-100vh);
  //     }
  //   }
  // }
}

// html.barba-active {
//   .portfolio-content {
//     opacity: 0;
//   }
// }

#tab-1 {
  @include container;
}

#tab-2 {
  @include container;
  @include gutters();
}
