{% for item in site.pages %}
{% if item.layout == 'index' %}
{% if item.language == page.language %}
<footer>
  <div class='container'>
    <div class='logo'>
      <img src='/logo.png'>
    </div>
    <div class='wrapper'>
      <div class='address no-barba'>
        {{ item.address.text | markdownify }}
      </div>
      <div class='social no-barba'>
        {{ item.social.text | markdownify }}
      </div>
      <div class='legal no-barba'>
        {{ item.legal.text | markdownify }}
      </div>
    </div>
  </div>
</footer>
{% endif %}
{% endif %}
{% endfor %}
