{% for item in site.pages %}
{% if item.layout == 'index' %}
{% if item.language == page.language %}
<footer>
  <div class='wrapper'>
    <div class='contact-details no-barba'>
      {{ item.contact.text | markdownify }}
    </div>
    <div class='description'>
      {{ item.contact.description | markdownify }}
    </div>
    <div class='information no-barba'>
      {{ item.contact.information | markdownify }}
      <p><a href="http://finetunemusic.jasperroosdorp.nl/algemene_voorwaarden.pdf">Algemene Voorwaarden</a></p>
    </div>
  </div>
</footer>
{% endif %}
{% endif %}
{% endfor %}
