<meta charset="utf-8">
<meta name="description" content="{{ page.page.description }}">
<meta name="author" content="Jasper Roosdorp">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="og:url" content="{{ site.basehref }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.page.og_title }}" />
<meta property="og:description" content="{{ page.page.og_description }}" />
<meta property="og:image" content="{{ site.basehref }}/uploads/og_img.jpg" />
<meta property="fb:app_id" content="191385724781704" />
