<header>
  <div class='mobile-nav'>
    <a href="/">Fine Tune Music</a>
    <a class='mob-nav-toggle'>
      <span class='icon'></span>
    </a>
  </div>
  {% if page.language == 'English' %}
  <a class="return-button" href="/en">Back</a>
  {% elsif page.language == 'German' %}
  <a class="return-button" href="/de">Zurück</a>
  {% else %}
  <a class="return-button" href="/">Terug</a>
  {% endif %}
  <nav>
    <div class='nav-left-section'>
      <a href="/">Fine Tune Music</a>
      <a onclick="openPortfolio()">Beluister</a>
    </div>
    <div class='nav-center-section'>
      <a class='nav-trigger'>Meer</a>
      <div class='hidden-items'>
        <ul>
          <li><a href="/muziekproductie{{ site.urlext }}">Muziekproductie</a></li>
          <li><a href="/voice-overs{{ site.urlext }}">Voice-overs</a></li>
          <li><a href="/studio{{ site.urlext }}">Studio</a></li>
        </ul>
        <ul>
          <li><a href="/over-ons{{ site.urlext }}">Over ons</a></li>
          <li><a onclick="showContact()">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class='nav-right-section'>
      <a class="no-barba language-switch nl">NL</a>
      <a class="no-barba language-switch en">EN</a>
      <a class="no-barba language-switch de">DE</a>
    </div>
  </nav>
</header>
