<header>

  <nav class='upper'>
    <a class='nav-trigger'>
      <!-- <span class='nav-icon-wrapper'>
        <span class='nav-icon'></span> -->
      <span class='trigger-name unfold-nav'>Menu</span>
      <span class='trigger-name fold-nav'>Menu</span>
    </a>
    <!-- <a class='portfolio-button open-portfolio open-muziek'>
      Beluister
    </a> -->
    <a class='current-track'>
      <svg class="music-bar" viewBox="0 0 20 20">
        <defs><rect id="def-rect" y="10" width="2" height="20" /></defs>
        <use class="bar" xlink:href="#def-rect" x="0" />
        <use class="bar" xlink:href="#def-rect" x="9" />
        <use class="bar" xlink:href="#def-rect" x="18" />
      </svg>
      <span class='placeholder' onclick="openPortfolio('active-window')">Beluister</span>
      <span class='audio-player-title' onclick="openPortfolio('muziek')">&nbsp;</span>
    </a>
  </nav>

  <nav class='lower'>
    <ul>
      <li><a href="http://localhost:3000/index.html">Home</a></li>
    </ul>
    <ul>
      <li><a href="info_muziekproductie.html">Muziekproductie</a></li>
      <li><a href="info_voiceovers.html">Voice-overs</a></li>
      <li><a href="info_studio.html">Studio</a></li>
    </ul>
    <ul>
      <li><a href="about.html">Over ons</a></li>
      <li><a>Contact</a></li>
    </ul>
    <!-- <ul>
      <li><a>Contact</a></li>
    </ul> -->
    <ul>
      <li><a class="en">English</a></li>
      <li><a class="nl">Nederlands</a></li>
    </ul>
  </nav>

</header>
