<header>
  <div class='mobile-nav'>
    {% if page.language == 'English' %}
    <a href="/en/">Fine Tune Music</a>
    {% elsif page.language == 'German' %}
    <a href="/de/">Fine Tune Music</a>
    {% else %}
    <a href="/">Fine Tune Music</a>
    {% endif %}
    <a class='current-track'>
      <svg class='music-bar' onclick='openPortfolio()' viewBox='0 0 20 20'>
        <defs><rect id='def-rect' y='10' width='2' height='20' /></defs>
        <use class='bar' xlink:href='#def-rect' x='0' />
        <use class='bar' xlink:href='#def-rect' x='9' />
        <use class='bar' xlink:href='#def-rect' x='18' />
      </svg>
    </a>
    <a class='mob-nav-toggle'>
      <span class='icon'></span>
    </a>
  </div>
  {% if page.language == 'English' %}
  <a class="return-button" href="/en">Back</a>
  {% elsif page.language == 'German' %}
  <a class="return-button" href="/de">Zurück</a>
  {% else %}
  <a class="return-button" href="/">Terug</a>
  {% endif %}
  <nav>
    <div class='nav-left-section'>
      {% if page.language == 'English' %}
      <a href="/en/">Fine Tune Music</a>
      {% elsif page.language == 'German' %}
      <a href="/de/">Fine Tune Music</a>
      {% else %}
      <a href="/">Fine Tune Music</a>
      {% endif %}
      {% if page.language == 'English' %}
      <a onclick="openPortfolio()">Listen</a>
      {% elsif page.language == 'German' %}
      <a onclick="openPortfolio()">Zuhören</a>
      {% else %}
      <a onclick="openPortfolio()">Beluister</a>
      {% endif %}
    </div>
    <div class='nav-center-section'>
      {% if page.language == 'English' %}
      <a class='nav-trigger'>More</a>
      {% elsif page.language == 'German' %}
      <a class='nav-trigger'>Mehr</a>
      {% else %}
      <a class='nav-trigger'>Meer</a>
      {% endif %}
      <div class='hidden-items'>
        <ul>
          {% if page.language == 'English' %}
          <li><a href="/en/production{{ site.urlext }}">Music / Sound design</a></li>
          {% elsif page.language == 'German' %}
          <li><a href="/de/musikproduktion{{ site.urlext }}">Musik / Sounddesign</a></li>
          {% else %}
          <li><a href="/muziek-sounddesign{{ site.urlext }}">Muziek / Sounddesign</a></li>
          {% endif %}

          {% if page.language == 'English' %}
          <li><a href="/en/voice-overs{{ site.urlext }}">Voice-overs</a></li>
          {% elsif page.language == 'German' %}
          <li><a href="/de/voice-overs{{ site.urlext }}">Voice-overs</a></li>
          {% else %}
          <li><a href="/voice-overs{{ site.urlext }}">Voice-overs</a></li>
          {% endif %}

          {% if page.language == 'English' %}
          <li><a href="/en/studio{{ site.urlext }}">Studio</a></li>
          {% elsif page.language == 'German' %}
          <li><a href="/de/musikstudio{{ site.urlext }}">Muzikstudio</a></li>
          {% else %}
          <li><a href="/studio{{ site.urlext }}">Studio</a></li>
          {% endif %}
        </ul>
        <ul>
          {% if page.language == 'English' %}
          <li><a href="/en/about-us{{ site.urlext }}">About Us</a></li>
          {% elsif page.language == 'German' %}
          <li><a href="/de/uber-uns{{ site.urlext }}">Über Uns</a></li>
          {% else %}
          <li><a href="/over-ons{{ site.urlext }}">Over ons</a></li>
          {% endif %}

          {% if page.language == 'English' %}
          <li><a onclick="showContact()">Contact</a></li>
          {% elsif page.language == 'German' %}
          <li><a onclick="showContact()">Kontakt</a></li>
          {% else %}
          <li><a onclick="showContact()">Contact</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class='nav-right-section'>
      <a class='current-track'>
        <svg class='music-bar' onclick='openPortfolio()' viewBox='0 0 20 20'>
          <defs><rect id='def-rect' y='10' width='2' height='20' /></defs>
          <use class='bar' xlink:href='#def-rect' x='0' />
          <use class='bar' xlink:href='#def-rect' x='9' />
          <use class='bar' xlink:href='#def-rect' x='18' />
        </svg>
        <span class='audio-player-title music voice-overs' onclick="openPortfolio()"></span>
      </a>
      <a class="no-barba language-switch nl">NL</a>
      <a class="no-barba language-switch en">EN</a>
      <a class="no-barba language-switch de">DE</a>
    </div>
  </nav>
</header>
