<header>

  <nav class='upper'>
    <a class='nav-trigger'>
      <!-- <span class='nav-icon-wrapper'>
      <span class='nav-icon'></span> -->
      <span class='trigger-name unfold-nav'>Menu</span>
      <span class='trigger-name fold-nav'>Menu</span>
    </a>
    {% if page.language == 'Dutch' %}
    <a class="return-button" href="/pages/index_nl.html">Terug</a>
    {% endif %}
    {% if page.language == 'English' %}
    <a class="return-button" href="/pages/index_en.html">Back</a>
    {% endif %}
    <a class='current-track'>
      <svg class="music-bar" onclick="openPortfolio()" viewBox="0 0 20 20">
        <defs><rect id="def-rect" y="10" width="2" height="20" /></defs>
        <use class="bar" xlink:href="#def-rect" x="0" />
        <use class="bar" xlink:href="#def-rect" x="9" />
        <use class="bar" xlink:href="#def-rect" x="18" />
      </svg>
      {% if page.language == 'Dutch' %}
      <span class='placeholder' onclick="openPortfolio()">Beluister</span>
      {% endif %}
      {% if page.language == 'English' %}
      <span class='placeholder' onclick="openPortfolio()">Listen</span>
      {% endif %}
      <span class='audio-player-title music voice-overs' onclick="openPortfolio()">&nbsp;</span>
    </a>
  </nav>

  <nav class='lower'>

    {% if page.language == 'Dutch' %}
    <ul>
      <li><a href="../pages/index_nl.html">Home</a></li>
    </ul>
    <ul>
      <li><a href="../pages/production_nl.html">Muziekproductie</a></li>
      <li><a href="../pages/voice-overs_nl.html">Voice-overs</a></li>
      <li><a href="../pages/studio_nl.html">Studio</a></li>
    </ul>
    <ul>
      <li><a href="../pages/about_nl.html">Over ons</a></li>
      <li><a>Contact</a></li>
    </ul>
    {% endif %}

    {% if page.language == 'English' %}
    <ul>
      <li><a href="../pages/index_en.html">Home</a></li>
    </ul>
    <ul>
      <li><a href="../pages/production_en.html">Production</a></li>
      <li><a href="../pages/voice-overs_en.html">Voice-overs</a></li>
      <li><a href="../pages/studio_en.html">Studio</a></li>
    </ul>
    <ul>
      <li><a href="../pages/about_en.html">About us</a></li>
      <li><a>Contact</a></li>
    </ul>
    {% endif %}

    <ul>
      <li><a class="no-barba en" href="../pages/index_en.html">English</a></li>
      <li><a class="no-barba nl" href="../pages/index_nl.html">Nederlands</a></li>
    </ul>

  </nav>

</header>
