<header>

  <nav class='upper'>
    <a class='nav-trigger'>
      <!-- <span class='nav-icon-wrapper'>
      <span class='nav-icon'></span> -->
      <span class='unfold-nav'>Menu</span>
      <span class='fold-nav'>Menu</span>
    </a>
    {% if page.path contains 'en' %}
    <a class="return-button" href="/en{{ site.urlext }}">Back</a>
    {% else %}
    <a class="return-button" href="/">Terug</a>
    {% endif %}
    <a class='current-track'>
      <svg class="music-bar" onclick="openPortfolio()" viewBox="0 0 20 20">
        <defs><rect id="def-rect" y="10" width="2" height="20" /></defs>
        <use class="bar" xlink:href="#def-rect" x="0" />
        <use class="bar" xlink:href="#def-rect" x="9" />
        <use class="bar" xlink:href="#def-rect" x="18" />
      </svg>
      {% if page.path contains 'en' %}
      <span class='placeholder' onclick="openPortfolio()">Listen</span>
      {% else %}
      <span class='placeholder' onclick="openPortfolio()">Beluister</span>
      {% endif %}
      <span class='audio-player-title music voice-overs' onclick="openPortfolio()">Lorem ipsum</span>
    </a>
  </nav>

  <nav class='lower'>

    {% if page.path contains 'en' %}
    <ul>
      <li><a href="/en{{ site.urlext }}">Home</a></li>
    </ul>
    <ul>
      <li><a href="/en/production{{ site.urlext }}">Production</a></li>
      <li><a href="/en/voice-overs{{ site.urlext }}">Voice-overs</a></li>
      <li><a href="/en/studio{{ site.urlext }}">Studio</a></li>
    </ul>
    <ul>
      <li><a href="/en/about-us{{ site.urlext }}">About us</a></li>
      <li><a>Contact</a></li>
    </ul>
    {% else %}
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <ul>
      <li><a href="/muziekproductie{{ site.urlext }}">Muziekproductie</a></li>
      <li><a href="/voice-overs{{ site.urlext }}">Voice-overs</a></li>
      <li><a href="/studio{{ site.urlext }}">Studio</a></li>
    </ul>
    <ul>
      <li><a href="/over-ons{{ site.urlext }}">Over ons</a></li>
      <li><a>Contact</a></li>
    </ul>
    {% endif %}
    <ul>
      <li><a class="no-barba en" href="/en{{ site.urlext }}">English</a></li>
      <li><a class="no-barba nl" href="/">Nederlands</a></li>
    </ul>

  </nav>

</header>
