<div class='portfolio-wrapper'>

  <!-- <a class='portfolio-overlay open-portfolio moveto' data-target="#top-marker" data-mt-duration="300" data-mt-easing="easeOutQuad"></a> -->

  <a class='portfolio-overlay close-portfolio'></a>

  <div class="portfolio">

    <nav class='portfolio-nav'>
      <a href="javascript:void(0)" class='portfolio-nav-a videos active-window'>Video's</a>
      <a href="javascript:void(0)" class='portfolio-nav-a muziek'>Muziek</a>
      <a href="javascript:void(0)" class='portfolio-nav-a voice-overs'>Voice-overs</a>
      <a href="javascript:void(0)" class='close-portfolio'></a>
    </nav>

    <ul>

      <!--/ VIDEO'S /-->
      <li>
        <a href="javascript:void(0)" class="tab-link videos"></a>
        <div class="tab-content videos">

          <a class="video" href="http://localhost:3000/video/whitewolf.html">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>White Wolf</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>THITHI</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>Basher Beatdown</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>PRA Health Sciences</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>LearningSpaces</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>Han Koning</span>
          </a>

          <a class="video" href="project_whitewolf.html">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>White Wolf</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>THITHI</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>Basher Beatdown</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>PRA Health Sciences</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>LearningSpaces</span>
          </a>

          <a class="video">
            <figure><div class='content'><img src="" alt=""/></div></figure>
            <span>Han Koning</span>
          </a>

        </div>
      </li>

      <!--/ MUZIEK /-->
      <li>
        <a href="javascript:void(0)" class="tab-link muziek"></a>
        <div class="tab-content muziek">
          <!--/ AUDIO PLAYER /-->
          <div class='audio-player-container'>
            <div class="audio-player-title">&nbsp;</div>
            <div class="audio-player-wrapper">
              <audio id="audio-player" controls src="../uploads/1.mp3"></audio>
            </div>
          </div>
          <!--/ TRACKLIST /-->
          <div class='audio-tracklist'>
            <ul>
              <!-- {% assign sorted = (site.music| sort: 'position') %}
              {% for music in sorted %}
              {% if music.published != false %}
              <li><a>{{ music.title }}</a></li>
              {% endif %}
              {% endfor %} -->
            </ul>
          </div>
        </div>
      </li>

      <!--/ VOICE-OVERS /-->
      <li>
        <a href="javascript:void(0)" class="tab-link voice-overs"></a>
        <div class="tab-content voice-overs">
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
        </div>
      </li>

    </ul>
  </div>
</div>
