<div class='portfolio-wrapper'>

  <a class='portfolio-overlay close-portfolio'></a>

  <div class="portfolio">

    <div class="portfolio-content">

      <ul class="portfolio-nav">
        {% if page.path contains 'en' %}
        <li><a class='portfolio-nav-a tab-1'>Videos</a></li>
        <li><a class='portfolio-nav-a tab-2a'>Music</a></li>
        <li><a class='portfolio-nav-a tab-2b'>Voice-overs</a></li>
        {% else %}
        <li><a class='portfolio-nav-a tab-1'>Video's</a></li>
        <li><a class='portfolio-nav-a tab-2a'>Muziek</a></li>
        <li><a class='portfolio-nav-a tab-2b'>Voice-overs</a></li>
        {% endif %}
      </ul>

      <a href="javascript:void(0)" class='close-portfolio'></a>

      <div id='tab-1'>
        {% if page.path contains 'en' %}
        {% assign sorted = (site.en | sort: 'position') %}
        {% else %}
        {% assign sorted = (site.video | sort: 'position') %}
        {% endif %}
        {% for video in sorted %}
        {% if video.published != false %}
        <a class="video" href="{{ video.url }}">
          <figure>
            <div class='content'>
              <img class='cld-responsive' data-src="{{ site.cdn }}/w_auto,ar_3:2,c_fill,q_90/{{ site.host }}{{ video.image | replace: "../uploads", "uploads" }}" />
            </div>
          </figure>
          <span>{{ video.title }}</span>
        </a>
        {% endif %}
        {% endfor %}
      </div>

      <div id='tab-2' class='player-hidden'>
        <div class="mediawrapper music">
          <!-- <div class="audio-player-title music">&nbsp;</div> -->
          <audio id="mejs" type="audio/mp3" width="100%" controls="controls">
            {% assign sorted = (site.music | sort: 'position') %}
            {% for music in sorted %}
            {% if music.published != false %}
            <source class="music" src="{{ music.file }}" title="{{ music.title }}"></source>
            {% endif %}
            {% endfor %}
            {% assign sorted = (site.voice-overs | sort: 'position') %}
            {% for voice-overs in sorted %}
            {% if voice-overs.published != false %}
            <source class="voice-over" src="{{ voice-overs.file }}" title="{{ voice-overs.title }}"></source>
            {% endif %}
            {% endfor %}
          </audio>
        </div>
      </div>

</div>

</div>

</div>
