html#index,
html#about,
html#info {
  background-color: #fff;
  &.top-out-of-viewport { background-color: $footer-bg-color; }
}

html#video {
  background-color: $video-bg-color;
  body { background-color: $video-bg-color; }
}
