body {
  font-family: $def-font;
  font-weight: 300;
}

h1, h2, .heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.1rem;
  margin: 0;
  padding: 0;
  // font-family: $alt-font;
  @include for-tablet-portrait-up {
    font-size: 2.3rem;
    line-height: 4.1rem;
  }
  &.index-intro-h1 {
    color: rgba(0, 0, 0, 0.8);
    // font-size: 2.2rem;
    font-weight: 300;
    // line-height: 4.3rem;
    @include for-tablet-landscape-up {
      font-size: 2.6rem;
      line-height: 4.2rem;
      letter-spacing: 0.005rem;
    }
  }
}

p, .paragraph {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.3rem;
  font-weight: 300;
  padding-top: 0.25rem;
  a {
    position: relative;
    display: inline-block;
    // color: $color002 !important;
    transition: opacity 0.3s ease;
    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0.1rem;
      display: block;
      content: '';
      background-color: #fff;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

header nav,
.portfolio-nav {
  font-size: 2rem;
  font-weight: 400;
}

.nav-trigger,
.return-button,
.current-track,
.portfolio-nav-a,
nav.lower ul li a {
  // line-height: 70px;
  line-height: 3.6rem;
}

nav {
  &.upper, &.lower { color: rgba(0, 0, 0, 0.8); }
  &.upper {
    .current-track {
      color: $color002;
      font-weight: 400;
      font-family: $alt-font;
      .music-bar { fill: $color002; }
      .audio-player-title {
        font-size: 2.5rem;
        font-weight: 300;
      }
    }
  }
  &.lower {
    ul li a {
      // line-height: 3.6rem;
      opacity: 0.4;
    }
  }
}

html[lang="nl"] nav.lower a.nl,
html[lang="en"] nav.lower a.en {
  opacity: 0.2;
}

.full-width-button {
  color: rgba(0, 0, 0, 0.9);
}

.portfolio {
  color: #fff;
  .audio-player-title {
    color: $audio-player-title-color;
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.portfolio-nav-a {
  // line-height: 4rem;
  // font-size: 1.7rem;
  // font-weight: 400;
  color: rgba(255, 255, 255, 1);
  // letter-spacing: 0.003rem;
  @include for-tablet-landscape-up {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.01rem;
  }
  &.active-window {
    color: rgba(255, 255, 255, 0.4);
  }
}

a.video span {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

section.project-info {
  h1, h2, p { color: #fff }
}

section.info-section {
  // h2, p { color: #000; }
}
