.mediawrapper {
  // background-color: $portfolio-bg-color;
  // width: 100%;
  // height: 10px;
  // &.voice-overs {
  //   background-color: $portfolio-bg-color;
  //   border-top: 1px solid #fff;
  // }
}

// .audio-player-title { color: #000; }
// .mediawrapper .audio-player-title { color: #fff; }

/*
Document        : mep-feature-playlist.css
Author          : Andrew Berezovsky <andrew.berezovsky@gmail.com>
Original Author : Junaid Qadir Baloch <shekhanzai.baloch@gmail.com>
*/

/* Start: Show/Hide Playlist*/
// .mejs-controls .mejs-show-playlist button {
//   background: transparent url(controls-playlist.png) no-repeat;
//   background-position: -16px -16px;
// }
// .mejs-controls .mejs-hide-playlist button {
//   background: transparent url(controls-playlist.png) no-repeat;
//   background-position: -16px 0;
// }
/* End: Show/Hide Playlist */

/* Start: Previous */
// .mejs-controls .mejs-prevtrack button {
//   background: transparent url(controls-playlist.png) no-repeat;
//   background-position: 0 -16px;
// }
/* End: Previous */

/* Start: Next */
// .mejs-controls .mejs-nexttrack button {
//   background: transparent url(controls-playlist.png) no-repeat;
// }
/* End: Next */

/* Start: Shuffle */
// .mejs-controls .mejs-shuffle-on button {
//   background: transparent url(controls-playlist.png) no-repeat;
//   background-position: -32px 0;
// }
// .mejs-controls .mejs-shuffle-off button {
//   background: transparent url(controls-playlist.png) no-repeat;
//   background-position: -32px -16px;
// }
/* End: Shuffle */

.mejs-container {
  // background: orange !important;
  // padding-top: 100px;
  // width: 100% !important;
  // height: 500px !important;
  // position: absolute !important;
  // display: block !important;
  // content: '' !important;
}

/*Start: Playlist*/
// .mejs-playlist {
//   // position: absolute;
//   // position: fixed;
//   // padding-top: 100px;
//   padding-top: $audio-bar-height;
//   left: 0;
//   width: 100% !important;
//   height: auto !important;
//   overflow-y: auto;
//   // background: rgba(0, 0, 0, 0.05);
//   // @include span(12);
// }
// .mejs-playlist ul {
//   // margin: 0;
//   // padding-top: 100px;
// }
// .mejs-playlist li {
//   // background-color: blue;
//   color: white;
//   // font-size: 11px;
//   // height: 16px;
//   // height: 2rem;
//   // overflow: hidden;
//   // margin: 2px;
//   cursor: pointer;
//   float: left;
//   width: calc(50% - 1rem);
//   white-space: nowrap;
//   position: relative;
//   height: 3rem;
//   overflow: hidden;
//   border-bottom: 1px solid #fff;
//   &:nth-child(odd) { margin-right: 1rem; }
//   &:nth-child(even) { margin-left: 1rem; }
//   &:nth-last-child(-n+2) { border-color: transparent; }
//   &::after {
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     width: 5rem;
//     display: block;
//     content: '';
//     // background-color: orange;
//     background: linear-gradient(to left, $portfolio-bg-color 0%,rgba(0,0,0,0) 100%);
//   }
// }
// .mejs-playlist li:hover {
//   color: #a8a8a8;
// }
// .mejs-playlist li.current {
//   color: white;
//   font-weight: bold;
// }
/*End: Playlist*/


// #titleblock {
//   // background-color: blue;
//   height: 100px;
//   span {
//     // float: left;
//     position: absolute;
//     pointer-events: none;
//   }
// }
