header {
  @include container;
  @include responsive-width;
  @include gutters;
  margin-top: 7rem;
  position: relative;
}

nav.upper {
  // height: 40px;
  // @include span(11 of 12 no-gutters);
  // @include push(0.5 of 12);
  user-select: none;
  // background-color: yellow;
  .nav-trigger {
    // position: relative;
    // width: 100px;
    display: inline-block;
    // overflow: hidden;
    // margin-top: -50%;
    // background-color: pink;
    .trigger-name {
      // position: absolute;
      line-height: 40px; // nav-icon-wrapper height
      transition: opacity 0.3s ease;
      // &.fold-nav { display: none; }
      display: block;
      &.unfold-nav {
        position: absolute;
      }
      &.fold-nav {
        // position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .return-button {
    display: none;
  }
  .current-track {
    transition: opacity 0.3s ease;
    margin-left: 0;
    // vertical-align: top;
    // bottom: 0;
    // top: 0;
    // background-color: pink;
    .audio-player-title {
      display: none;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

nav.lower {
  // display: none;
  height: 120px;
  margin-bottom: -120px;
  // overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease, margin-bottom 0.3s ease;
  // opacity: 0;
  // transition: opacity 0.3s ease;
  ul {
    display: inline-block;
    vertical-align: top;
    li a { padding-right: 2rem; }
    &:nth-child(n+2) {
      // @include push(0.8 of 12);
      margin-left: 8rem;
      li a { padding-left: 2rem; }
    }
  }
  ul li a {
    transition: opacity 0.3s ease, color 0.3s ease;
    &:hover {
      color: $color002;
      opacity: 1;
    }
  }
}

html {
  &.portfolio-open {
    nav.upper .current-track {
      // display: none;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
  &.audio-playing  {
    nav.upper .current-track {
      > .placeholder { display: none; }
      > .audio-player-title { display: inline-block; }
    }
  }
  &.nav-unfolded {
    nav.upper {
      .current-track,
      .unfold-nav {
        // display: none !important;
        opacity: 0 !important;
        pointer-events: none;
        // position: absolute;
      }
      .fold-nav {
        // display: inline-block !important;
        opacity: 1 !important;
        pointer-events: auto !important;
      }
    }
    nav.lower {
      // display: block;
      // height: 300px;
      pointer-events: auto;
      margin-bottom: 0;
      opacity: 1;
      // transition: height 0.3s ease;
      // opacity: 1;
      // background-color: yellow;
    }
  }
}
