header {
  @include container;
  @include responsive-width;
  @include gutters;
  margin-top: 7rem;
  // margin-bottom: -12rem;
  margin-bottom: -12rem;
  position: relative;
  // background-color: orange;
  // overflow: hidden;
}

nav.upper {
  // height: 40px;
  // @include span(11 of 12 no-gutters);
  // @include push(0.5 of 12);
  user-select: none;
  // background-color: yellow;
  // z-index: 999;
  // position: relative;
  // z-index: 1;
  .nav-trigger {
    // position: relative;
    // width: 100px;
    display: inline-block;
    // overflow: hidden;
    // margin-top: -50%;
    // background-color: pink;
    .trigger-name {
      // position: absolute;
      line-height: 40px; // nav-icon-wrapper height
      transition: opacity 0.3s ease;
      // &.fold-nav { display: none; }
      display: block;
      &.unfold-nav {
        position: absolute;
      }
      &.fold-nav {
        // position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .return-button {
    display: none;
  }
  .current-track {
    transition: opacity 0.3s ease;
    margin-left: 0;
    .audio-player-title {
      display: none;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

nav.lower {
  // height: 12rem;
  // position: relative;
  pointer-events: none;
  // opacity: 1;
  // transition: opacity 0.3s ease;
  // z-index: 0;
  // background: transparent;
  // background: green;
  // &::after {
  //   transition: opacity 0.3s ease;
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   height: 200%;
  //   top: 0; left: 0; right: 0;
  //   transition: transform 0.3s ease;
  //   will-change: transform;
  //   transform: translateY(-12rem);
  //   background: pink;
  //   // border-bottom: 10px solid blue;
  //   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
  //   pointer-events: none;
  //   opacity: 1;
  // }
  ul {
    display: inline-block;
    vertical-align: top;
    li {
      opacity: 0;
      transition: opacity 0.22s;
      &:nth-child(3) { transition-delay: 0s }
      &:nth-child(2) { transition-delay: 0.04s }
      &:nth-child(1) { transition-delay: 0.08s }
    }
    li a {
      padding-right: 2rem;
      transition: opacity 0.3s ease, color 0.3s ease;
      &:hover {
        color: $color002;
        opacity: 1;
      }
    }
  }
  ul:nth-child(n+2) {
    margin-left: 8rem;
    li a { padding-left: 2rem; }
  }
}

html {
  &.portfolio-open {
    nav.upper .current-track {
      // display: none;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
  &.audio-playing  {
    nav.upper .current-track {
      > .placeholder { display: none; }
      > .audio-player-title { display: inline-block; }
    }
  }
  &.nav-unfolded {
    nav.upper {
      .current-track,
      .unfold-nav {
        opacity: 0 !important;
        pointer-events: none;
      }
      .fold-nav {
        opacity: 1 !important;
        pointer-events: auto !important;
      }
    }
    nav.lower {
      pointer-events: auto;
      opacity: 1;
      &::after { transform: translateY(12rem); }
      ul li {
        opacity: 1;
        &:nth-child(3) { transition-delay: 0.08s }
        &:nth-child(2) { transition-delay: 0.04s }
        &:nth-child(1) { transition-delay: 0s }
      }
    }
    main {
      transform: translateY(11rem);
    }
  }
}

main {
  margin-top: 7rem;
  transition: transform 0.3s ease;
  transform: translateY(0);
  will-change: transform;
}
