<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="no-js" lang="nl">

  <HEAD>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Jasper Roosdorp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/main.min.css">
    <script src="../assets/upper.min.js"></script>
  </HEAD>

  <BODY>
    {{ content }}
  </BODY>

</HTML>
