$audio-bar-height: 30px;

.portfolio .audio-player-title {
  opacity: 0;
}

.mejs-container {
  position: relative;
  height: auto !important;
  text-align: left;
  vertical-align: top;
  text-indent: 0;
  width: 100%;
  .mejs-clear { clear: both; }
}

.mejs-playlist {
  overflow-x: hidden;
}

.mejs-controls {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: $audio-bar-height;
  width: 100%;
  div {
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: $audio-bar-height;
    height: $audio-bar-height;
    font-size: 11px;
    line-height: 11px;
    border: 0;
  }
  .mejs-button {
    margin-right: 0.4rem;
    @include for-tablet-landscape-up {
      margin-right: 4rem;
      padding-left: 0.2rem;
    }
  }
  .mejs-button button {
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    padding: 0;
    position: absolute;
    height: $audio-bar-height;
    width: $audio-bar-height;
    border: 0;
    /* background: transparent url(controls.svg) no-repeat; */
    background: transparent;
    &:focus { outline: none; }
  }
  .mejs-time {
    color: #fff;
    display: block;
    width: auto;
    padding: 0;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: $audio-bar-height !important;
    position: relative;
    width: 5rem;
    left: 0;
  }
  .mejs-time span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    &.mejs-duration { text-align: right; }
  }
  .mejs-play button {
    overflow: hidden;
    &::after {
      position: absolute;
      width: 70%;
      height: 80%;
      display: block;
      content: '';
      background-color: #fff;
      top: 10%;
      left: -50%;
      transform: scaleY(0.7) rotate(45deg);
    }
  }
  .mejs-pause button {
    &::before, &::after {
      position: absolute;
      display: block;
      content: '';
      width: 0.35rem;
      height: 60%;
      margin-top: 20%;
      background-color: #fff;
      top: 0;
      left: 0;
    }
    &::after {
      margin-left: 30%;
    }
  }
  div.mejs-time-rail {
    position: relative;
    direction: ltr;
    width: 200px;
    margin: 0 1.2rem;
    height: $audio-bar-height;
  }
}

.mejs-controls .mejs-time-rail {
  span {
    display: block;
    position: absolute;
    height: $audio-bar-height;
    cursor: pointer;
  }
  .mejs-time-total {
    &::after {
      position: absolute;
      height: 0.4rem;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.3);
      display: block;
      content: '';
    }
  }
  .mejs-time-buffering { width: 100%; }
  .mejs-time-loaded { width: 0; }
  .mejs-time-current {
    position: absolute;
    width: 0;
    transition: width 0.3s ease;
    &::after {
      position: absolute;
      height: 0.4rem;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      background-color: #fff;
      display: block;
      content: '';
    }
  }
  .mejs-time-handle,
  .mejs-time-float,
  .mejs-time-float-current,
  .mejs-time-float-corner {
    display: none;
  }
}

.mejs-playlist {
  left: 0;
  width: 100% !important;
  height: auto !important;
  overflow-y: auto;
  ul {
    width: calc(100% + 6rem);
    @include clearfix
    @include for-tablet-landscape-up {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-gap: 3rem;
      -webkit-column-gap: 3rem;
      -moz-column-gap: 3rem;
    }
    &::before {
      // hide the border of the top element
      position: absolute;
      display: block;
      width: 100%;
      background-color: $portfolio-bg-color;
      height: 1px;
      top: 7rem;
      content: " ";
      z-index: 1;
      transition: top 0.5s ease-out;

      #tab-2.player-hidden & {
        top: 2rem;
      }
    }
  }
  ul li {
    color: #fff;
    $font-family: $alt-font !important;
    font-size: 2rem;
    line-height: 5.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    /*
    @include for-tablet-landscape-up {
      float: left;
      width: calc(50% - 3rem);
      margin: 0 1.5rem;
      left: -1.5rem;
    }
    */
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 14rem;
      display: block;
      content: '';
      background: orange;
      background: linear-gradient(to left, $portfolio-bg-color 60%, rgba(0,0,0,0) 100%);
    }
    &:hover { color: rgba(255, 255, 255, 0.7); }
    &.current {
      color: $audio-player-title-color;
      pointer-events: none; }
    }
  }

  /*
  .mejs-playlist ul li {
    &:nth-child(1),
    &.music + li.voice-over {
      border-color: transparent;
    }
    @include for-tablet-landscape-up {
      &:nth-child(2),
      &.music + li.voice-over + li.voice-over {
        border-color: transparent;
      }
    }
  }
  */

  .portfolio-content > ul.muziek ~ #tab-2 .mejs-playlist ul li.voice-over,
  .portfolio-content > ul.voice-overs ~ #tab-2 .mejs-playlist ul li.music {
    height: 0;
    width: 0;
    pointer-events: 0;
    opacity: 0;
    margin: 0;
  }
