main {
  margin-top: 5rem;
  // @include padding(top, 1);
  @include for-tablet-portrait-up {
    transition: transform 0.5s ease;
    transform: translateY(0);
    will-change: transform;
    margin-top: 0;
    // margin-top: -3rem;
    // padding-top: 0;
  }
  @include for-tablet-landscape-up {
    // margin-top: -1rem;
  }
}

header {
  @include container;
  user-select: none;
  /* mobile */
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding: 0;
  &::before, &::after {
    display: block;
    content: '';
    position: fixed;
    height: 50vh;
    width: 100%;
    background-color: inherit;
  }
  &::before { top: -50vh }
  &::after { display: none; }
  @include for-tablet-portrait-up {
    position: relative;
    background-color: transparent;
    height: auto;
    @include responsive-width;
    @include gutters;
    @include padding(top, 1);
    margin-bottom: 2rem;
    &::before, &::after { display: none; }
  }
  .mobile-nav {
    z-index: 999;
    @include container;
    @include responsive-width;
    position: relative;
    line-height: 5rem;
    // height: 5rem;
    font-size: 2rem;
    a { display: inline-block; }
    .mob-nav-toggle {
      display: inline-block;
      position: absolute;
      right: 0;
      transform: translateX(25%);
      // padding-right: 2rem;
      // content: '';
      // height: 6rem;
      height: 100%;
      width: 5rem;
      // position: relative;
      // z-index: 999;
    }
    .icon {
      // background-color: blue;
      // right: 0;
      left: 50%;
      top: 50%;
      // transform: translateY(-50%);
      transform: translate(-50%, -50%);
      width: 50%;
      // margin: 0 2rem;
      // margin: 0 auto;
      &::before, &::after { width: 100%; }
      &::before { top: -0.8rem; }
      &::after { bottom: -0.8rem; }
    }
    .icon, .icon::before, .icon::after {
      display: block;
      content: '';
      // width: 100%;
      // width:
      // margin: 0 2rem;
      height: 0.2rem;
      background-color: #000;
      position: absolute;
    }
    @include for-tablet-portrait-up {
      display: none !important;
    }
  }
  a.return-button {
    display: none;
  }
  > nav {
    display: none;
    position: relative;
    @include for-tablet-portrait-up {
      display: block;
      width: 100%;
    }
  }
}

html.mob-nav-unfolded {
  header {
    height: 100%;
    &::after {
      display: block;
      bottom: -50vh;
    }
    > nav {
      display: block;
      @include container;
      @include responsive-width;
    }
  }
}


.nav-left-section,
.nav-center-section,
.nav-right-section {
  @include for-tablet-portrait-up {
    display: inline-block;
    vertical-align: top;
    a {
      padding: 0 1.5rem;
      line-height: 0;
    }
  }
}

.nav-left-section {
  a:first-child { display: none; }
  @include for-tablet-portrait-up {
    a:first-child {
      display: inline-block;
      padding-left: 0;
    }
  }
}

.nav-center-section {
  z-index: 999;
  .nav-trigger { display: none; }
  @include for-tablet-portrait-up {
    .nav-trigger {
      display: inline-block;
      &::after {
        display: inline-block;
        content: '';
        margin-left: 1.5rem;
        height: 1rem;
        width: 1rem;
        border: 0px solid #000;
        border-width: 0.1rem 0.1rem 0 0;
        transform: translateY(-0.35rem) rotate(135deg);
        // pointer-events: none;
      }
    }
    .hidden-items {
      // opacity: 0.4 !important;
      pointer-events: none;
      ul {
        display: inline-block;
        vertical-align: top;
        // &:nth-child(2) { position: absolute; }
        li {
          opacity: 0;
          transition: opacity 0.3s;
          @include for-tablet-portrait-up {
            &:nth-child(3) { transition-delay: 0s }
            &:nth-child(2) { transition-delay: 0.04s }
            &:nth-child(1) { transition-delay: 0.08s }
          }
        }
        li a {
          /*
          opacity: 0.4;
          transition: opacity 0.3s ease, color 0.3s ease;
          */
          color: lighten(#222, 60%);
          @include for-tablet-portrait-up { padding-right: 1rem; }
          @include for-tablet-landscape-up { padding-right: 2rem; }
          &:hover {
            color: $color002;
          }
        }
      }
    }
  }
}

.nav-right-section {
  a.language-switch {
    display: block;
    position: relative;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
    &::after {
      display: block;
      position: absolute;
      top: 0;
      color: rgba(0, 0, 0, 1);
    }
    &.nl::after { content: 'Nederlands' }
    &.en::after { content: 'English' }
    &.de::after { content: 'Deutsch' }
  }
  @include for-tablet-portrait-up {
    float: right;
    // background-color: green;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    a.language-switch {
      display: inline-block;
      color: rgba(0, 0, 0, 1);
      overflow: visible;
      padding: 0 0.5rem;
      &::after { display: none; }
      &:last-child { padding-right: 0; }
      &:hover {
        color: $color002;
      }
    }
  }
}

html:lang(nl) a.language-switch.nl,
html:lang(en) a.language-switch.en,
html:lang(de) a.language-switch.de {
  color: lighten(#222, 60%);
  &:hover {
    color: $color002;
  }
}

html.nav-unfolded {
  .nav-center-section {
    .nav-trigger::after {
      transform: translateY(0.2rem) rotate(-45deg);
    }
  }
}










html {
  header .mobile-nav .current-track > .music-bar {
    position: absolute;
    right: 40px;
    top: 15px;
  }
  header .current-track {
    > .placeholder,
    > .audio-player-title,
    > .music-bar {
      /* pointer-events: none !important;
      opacity: 0 !important; */
      display: none;
      color: $color002;
      use {
        fill: $color002;
      }
    }
    > .music-bar {
      width: 20px;
      height: 20px;
      margin-right: 0.8em;
      overflow: hidden;
    }
  }
  &.portfolio-opening, &.portfolio-open, &.mob-nav-unfolded {
    header nav .current-track {
      > .placeholder,
      > .audio-player-title,
      > .music-bar {
        /* pointer-events: none !important;
        opacity: 0 !important; */
        display: none !important;
      }
    }
  }
  &.audio-playing  {
    header .current-track {
      > .placeholder {
        display: inline;
        pointer-events: none;
        opacity: 0;
      }
      > .music-bar {
        display: inline;
        opacity: 1;
      }
      > .audio-player-title {
        @include for-tablet-landscape-up {
          display: inline;
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
  }
  &.nav-unfolded {
    header {
      /*
      .current-track {
        > * {
          pointer-events: none !important;
          opacity: 0 !important;
        }
      }
      */
      .nav-trigger::after {
        transform: translateY(0.2rem) rotate(-45deg);
      }
    }
    header .nav-center-section .hidden-items {
      pointer-events: auto;
      opacity: 1;
      &::after { transform: translateY(12rem); }
      ul li {
        opacity: 1;
        @include for-tablet-portrait-up {
          &:nth-child(3) { transition-delay: 0.08s }
          &:nth-child(2) { transition-delay: 0.04s }
          &:nth-child(1) { transition-delay: 0s }
        }
      }
    }
    main {
      transform: translateY(26rem);
      @include for-tablet-portrait-up {
        transform: translateY(11rem);
      }
    }
  }
}

html#video header {
  background-color: $video-bg-color;
  > nav {
    pointer-events: none;
    opacity: 0;
  }
  > .mobile-nav {
    // display: none;
    pointer-events: none;
    opacity: 0;
  }
  a.return-button {
    display: block;
    color: #fff;
    @include for-phone-only {
      position: absolute;
      top: 0;
      line-height: 5rem;
      @include responsive-width;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
