main {
  transition: transform 0.5s ease;
  transform: translateY(0);
  will-change: transform;
  margin-top: -23rem;
  @include for-tablet-portrait-up { margin-top: -3rem; }
  @include for-tablet-landscape-up { margin-top: -1rem; }
}

header {
  @include container;
  @include responsive-width;
  @include gutters;
  @include padding(top, 1);
  // @include margin
  // margin-top: 7rem;
  // position: relative;
  // padding-top: 7rem;
  // margin-bottom: -12rem;
  // margin-bottom: -100%;
  // overflow: hidden !important;
  // overflow: visible;
  @include for-tablet-portrait-up {
    // margin-bottom: -10rem;
    // @include margin(bottom, -1.5);
  }
  // position: relative;
  // background-color: orange;
  // overflow: hidden;
  user-select: none;
}

nav.upper {
  // height: 40px;
  // @include span(11 of 12 no-gutters);
  // @include push(0.5 of 12);
  // user-select: none;
  // background-color: yellow;
  // z-index: 999;
  // position: relative;
  // z-index: 1;
  // padding: 0 !important;
  // position: relative;
  // vertical-align: top;
  overflow-x: hidden;
  .nav-trigger,
  .return-button,
  .current-track {
    // line-height: 70px;
  }
  .nav-trigger {
    // background-color: orange;
    // display: inline-block;
    // vertical-align: top;
    // line-height: 70px;
    // line-height: 35px;
    // padding-top: 2px;
    float: left;
    // display: block;
    position: relative;
    .unfold-nav { position: absolute; }
    .fold-nav { opacity: 0; pointer-events: none; }
  }
  .return-button {
    display: none;
    // line-height: 70px;
  }
  .current-track {
    transition: opacity 0.5s ease;
    // margin-left: 20px;
    margin-left: 25px;
    margin-top: -2px;
    // background-color: orange;
    display: inline-block;
    // line-height: 70px;
    position: relative;
    // overflow-x: visible;
    // padding: 0;
    // user-select: none;
    .placeholder {
      // position: absolute;
      // bottom: 0;
      float: left;
      transition: opacity 0.3s ease;
      // position: absolute;
    }
    .audio-player-title {
      // float: left;
      // position: absolute;
      // background-color: orange;
      // display: none;
      position: absolute;
      width: 100vw;
      // left: 8rem;
      left: 20px;
      margin-left: 25px;
      top: 0;
      font-size: inherit;
      font-weight: inherit;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

nav.lower {
  // height: 12rem;
  // position: relative;
  pointer-events: none;
  // opacity: 1;
  // transition: opacity 0.5s ease;
  // z-index: 0;
  // background: transparent;
  // background: green;
  // &::after {
  //   transition: opacity 0.5s ease;
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   height: 200%;
  //   top: 0; left: 0; right: 0;
  //   transition: transform 0.5s ease;
  //   will-change: transform;
  //   transform: translateY(-12rem);
  //   background: pink;
  //   // border-bottom: 10px solid blue;
  //   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
  //   pointer-events: none;
  //   opacity: 1;
  // }
  ul {
    @include for-tablet-portrait-up {
      display: inline-block;
      vertical-align: top;
      &:nth-child(n+2) {
        margin-left: 4rem;
        li a { padding-left: 1rem; }
      }
    }
    @include for-tablet-landscape-up {
      &:nth-child(n+2) {
        margin-left: 8rem;
        li a { padding-left: 2rem; }
      }
    }
    li {
      opacity: 0;
      transition: opacity 0.32s;
      @include for-tablet-portrait-up {
        &:nth-child(3) { transition-delay: 0s }
        &:nth-child(2) { transition-delay: 0.04s }
        &:nth-child(1) { transition-delay: 0.08s }
      }
    }
    li a {
      transition: opacity 0.5s ease, color 0.5s ease;
      @include for-tablet-portrait-up { padding-right: 1rem; }
      @include for-tablet-landscape-up { padding-right: 2rem; }
      &:hover {
        color: $color002;
        opacity: 1;
      }
    }
  }
}

html {
  &.portfolio-opening, &.portfolio-open {
    nav.upper .current-track {
      > .placeholder,
      > .audio-player-title,
      > .music-bar {
        pointer-events: none !important;
        opacity: 0 !important;
      }
      // display: none;
      // opacity: 0 !important;
      // pointer-events: none !important;
    }
  }
  &.audio-playing  {
    nav.upper .current-track {
      > .placeholder {
        // display: none;
        pointer-events: none;
        opacity: 0;
      }
      > .music-bar {
        opacity: 1;
      }
      > .audio-player-title {
        @include for-tablet-portrait-up {
          // display: inline-block;
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
  }
  &.nav-unfolded {
    nav.upper {
      // .current-track .placeholder,
      // .current-track .audio-player-title,
      // .current-track,
      .current-track {
        > * {
          // display: none;
          pointer-events: none;
          opacity: 0;
        }
      }
      .nav-trigger {
        .unfold-nav {
          opacity: 0;
          pointer-events: none;
        }
        .fold-nav {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    nav.lower {
      pointer-events: auto;
      opacity: 1;
      &::after { transform: translateY(12rem); }
      ul li {
        opacity: 1;
        @include for-tablet-portrait-up {
          &:nth-child(3) { transition-delay: 0.08s }
          &:nth-child(2) { transition-delay: 0.04s }
          &:nth-child(1) { transition-delay: 0s }
        }
      }
    }
    main {
      transform: translateY(26rem);
      @include for-tablet-portrait-up {
        transform: translateY(11rem);
      }
      // margin-bottom: -11rem;
    }
  }
}

html[lang="nl"] nav.lower a.nl,
html[lang="en"] nav.lower a.en {
  pointer-events: none;
}

body {
  overflow: visible;
}

.music-bar {
  position: absolute;
  // vertical-align: middle;
  // float: left;
  // bottom: 0;
  // margin: 50%;
  // margin-top: 50%;
  top: 50%;
  margin-top: -3px;
  transform: translateY(-50%);
  // margin-top: -5px;
  // background-color: blue;
  // left: 0;
  overflow: hidden;
  cursor:pointer;
  height: 20px;
  // width: 0;
  // margin: 0;
  opacity: 0;
  // margin: 0 1rem;
  width: 20px;
  // margin-left: 2.5rem;
  transition: opacity 0.3s ease;
}
//
// html.audio-playing {
//   .music-bar {
//     width: 20px;
//     margin-left: 2.5rem;
//     opacity: 1;
//   }
// }

html#video nav.upper {
  a.current-track {
    display: none;
  }
  a.nav-trigger {
    // color: #fff;
    width: 0;
    pointer-events: none;
    opacity: 0;
  }
  a.return-button {
    display: inline-block;
    color: #fff;
    // margin-left: -0.5rem;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
}
