section.about-description {
  @include container;
  @include responsive-width;
  h2 { @include span(4 of 12); }
  p {
    @include span(8 of 12);
    max-width: 100rem;
  }
}

section.people {
  @include container;
  @include responsive-width;
  margin-top: 10rem;
  .person {
    @include span(6 of 12 no-gutters);
  }
  figure {
  @include span(6 of 6 no-gutters);
  @include aspect-ratio(4, 3);
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 10rem;
  }
  .description {
    @include span(6 of 6);
  }
  h2 {
    margin-bottom: 4rem;
  }
  p {
    padding-right: 7rem;
    + p { margin-top: 3rem; }
  }
}
