section.index-intro {
  @include container;
  @include responsive-width;
  @include gutters;
  position: relative;
  height: 13rem;
  h1 {
    white-space: pre-line;
    position: absolute;
    bottom: 0;
    display: none;
  }
}

section.index-img {
  @include container;
  @include responsive-width;
  margin-top: 70px;
  figure {
    @include aspect-ratio(2, 1);
    @include span(12 of 12);
    img {
      position: absolute;
      left: 0;
      right: 0;
    }
    .content {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

section.index-description {
  @include container;
  @include responsive-width;
  margin-top: 70px;
  h2, p { @include span(6 of 12); }
  p { max-width: 55rem; }
}
