html#video nav.upper {
  a.current-track {
    display: none;
  }
  a.nav-trigger {
    // color: #fff;
    width: 0;
    pointer-events: none;
    opacity: 0;
  }
  a.return-button {
    display: inline-block;
    color: #fff;
    margin-left: -0.5rem;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
}

html#video .portfolio-wrapper {
  opacity: 0;
  // width: 0;
  // overflow-x: hidden;
  pointer-events: none;
}

// nav {
//   &.upper, &.lower { color: #fff; }
//   &.upper {
//     .current-track {
//       opacity: 0.5;
//       color: #fff;
//       .music-bar { fill: #fff; }
//     }
//   }
//   &.lower {
//     ul li a {
//       opacity: 0.5;
//       &:hover {
//         color: #fff;
//         opacity: 1;
//       }
//     }
//   }
// }

// html.portfolio-open {
//   .video-container {
//     opacity: 0;
//   }
// }

section.video-container{
  @include container;
  @include responsive-width;
  @include gutters;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

section.project-info {
  @include container;
  @include responsive-width;
  margin-bottom: 15rem;
  h2, p { margin-top: 6rem; }
  h2 { @include span(4 of 12); }
  p {
    @include span(8 of 12);
    padding-top: 0.3rem;
  }
}
