html#video {
  nav {
    &.upper, &.lower { color: #fff; }
    &.upper {
      .current-track {
        opacity: 0.5;
        color: #fff;
        .music-bar { fill: #fff; }
      }
    }
    &.lower {
      ul li a {
        opacity: 0.5;
        &:hover {
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

section.video-container{
  @include container;
  @include responsive-width;
  @include gutters;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

section.project-info {
  @include container;
  @include responsive-width;
  margin-bottom: 15rem;
  h2, p { margin-top: 6rem; }
  h2 { @include span(4 of 12); }
  p { @include span(8 of 12); }
}
