---
pageid: about
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="portfolio-tab-1" {% if page.path contains 'en' %}lang="en"{% else %}lang="nl"{% endif %}>

  <HEAD>
    <title>{{ page.page.title }}</title>
    <link rel="canonical" href="{{ site.host}}{{ page.title | replace: "Finetunemusic.nl/", "" }}"/>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ site.basehref }}/source/main.min.css">
    <script src="{{ site.basehref }}/source/head.min.js"></script>
  </HEAD>

  <BODY>

    {% include navigation.html %}

    <main id="barba-wrapper">
      <div class="barba-container" data-pageid="about">
        <div class="barba-content">

          <section class="about-description">
            {% for item in page.information %}
            {{ item.text | markdownify }}
            {% endfor %}
          </section>

          <section class="people">
            <figure>
              <div class='content'>
                <img class='cld-responsive' data-src="{{ site.cdn }}/w_auto,ar_2:1,c_fill,q_80/{{ site.host }}{{ page.image | replace: "../uploads", "uploads" }}" />
              </div>
            </figure>
            {% for item in page.people.description %}
            <div class="person">
              <div class='description'>
                {{ item | markdownify }}
              </div>
            </div>
            {% endfor %}
          </section>


          <a class="full-width-button" onclick="openPortfolio()">
            <div class="wrapper">
              {% if page.path contains 'en' %}
              <span>Listen to our portfolio</span>
              {% else %}
              <span>Beluister ons portfolio</span>
              {% endif %}
            </div>
          </a>

        </div>
      </div>
    </main>

    {% include portfolio.html %}

    <script type="text/javascript" src="{{ site.basehref }}/source/body.min.js"></script>

    <script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "roosdorp"});
    cl.responsive();
    </script>

  </BODY>

</HTML>
