---
pageid: about
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="portfolio-tab-1"
{% if page.language == 'Dutch' %}lang="nl"{% endif %}
{% if page.language == 'English' %}lang="en"{% endif %}>

<HEAD>
  <title>{{ page.page.title }}</title>
  {% include meta.html %}
  <link rel="stylesheet" href="../source/main.min.css">
  <script src="../source/head.min.js"></script>
</HEAD>

<BODY>

  {% include navigation.html %}

  <main id="barba-wrapper">
    <div class="barba-container" data-pageid="about">
      <div class="barba-content">

        <section class="about-description">
          <h2>{{ page.information.title }}</h2>
          <p>{{ page.information.paragraph }}</p>
        </section>

        <section class="people">
          <figure>
            <div class='content'>
              <img class='cld-responsive' data-src="{{ site.cdn }}/w_auto,ar_2:1,c_fill,q_80/{{ site.host }}{{ page.image | replace: "../uploads", "uploads" }}" />
            </div>
          </figure>
          {% for person in page.people %}
          <div class="person">
            <div class='description'>
              <h2>{{ person.name }}</h2>
              {{ person.text | markdownify }}
            </div>
          </div>
          {% endfor %}
        </section>


        <a class="full-width-button" onclick="openPortfolio()">
          <div class="wrapper">
            {% if page.language == 'Dutch' %}
            <span>Beluister ons portfolio</span>
            {% endif %}
            {% if page.language == 'English' %}
            <span>Listen to our portfolio</span>
            {% endif %}
          </div>
        </a>

      </div>
    </div>
  </main>

  {% include portfolio.html %}

  <script type="text/javascript" src="../source/body.min.js"></script>

  <script type="text/javascript">
  var cl = cloudinary.Cloudinary.new({cloud_name: "roosdorp"});
  cl.responsive();
  </script>

  <script>
  // function myFunction() {
  //   alert('test!');
  // }

  // function readMore() {
  //   // $('.full-description-link.Paul').trigger('click');
  //   // alert('test!');
  //   $(this).addClass('test');
  // }

  // $(document).ready(function() {
  //   $('.full-description-wrapper').tabslet({
  //     mouseevent: 'click',
  //     attribute: 'href',
  //     animation: true,
  //     active: false
  //   });
  // });
  </script>

</BODY>

</HTML>
