<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MediaElements Playlist</title>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.min.js">
  </script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/mediaelement/2.13.1/mediaelement-and-player.min.js"></script>
  <script type="text/javascript" src="../mep-feature-playlist.js"></script>

  <link type="text/css" rel="stylesheet" href="http://cdn.jsdelivr.net/mediaelement/2.13.1/mediaelementplayer.min.css" />
  <link type="text/css" rel="stylesheet" href="../mep-feature-playlist.css" />

  <script>
  $(function(){
    $('video,audio').mediaelementplayer({
      loop: true,
      shuffle: true,
      playlist: true,
      audioHeight: 30,
      playlistposition: 'bottom',
      features: ['playlistfeature', 'playpause', 'current', 'progress', 'duration'],
      keyActions: []
    });
  });
  </script>
</head>

<body>

  <div id="mediawrapper">
    <audio id="mejs" type="audio/mp3" controls="controls">
      <source src="../uploads/1.mp3" title="Air Review - Chasing Corporate"></source>
      <source src="../uploads/2.mp3" title="Air Review - All Because You're Mine"></source>
      <source src="../uploads/3.mp3" title="Chris - Chasing Cars(Cover)"></source>
      <source src="../uploads/4.mp3" title="SmallCityLights - New Distance"></source>
      <source src="../uploads/5.mp3" title="Jamie Ray - I got you"></source>
      <source src="../uploads/6.mp3" title="Chris - When You're Gone Cover"></source>
    </audio>
  </div>

</body>
</html>
