---
pageid: index
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="portfolio-tab-1"
{% if page.language == 'Dutch' %}lang="nl"{% endif %}
{% if page.language == 'English' %}lang="en"{% endif %}>

<HEAD>
  <title>{{ page.page.title }}</title>
  {% include meta.html %}
  <link rel="stylesheet" href="../source/main.min.css">
  <script src="../source/head.min.js"></script>
</HEAD>

<BODY>

  {% include navigation.html %}

  <main id="barba-wrapper">
    <div class="barba-container" data-pageid="index">
      <div class="barba-content">

        <section class="index-intro">
          {% for introduction in page.introduction %}
          <h1>{{ introduction }}</h1>
          {% endfor %}
        </section>

        <section class="index-img">
          <figure>
            <div class='content'>
              <img class='cld-responsive' data-src="{{ site.cdn }}/w_auto,ar_2:1,c_fill,q_80/{{ site.host }}{{ page.image.image | replace: "../uploads", "uploads" }}" />
            </div>
          </figure>
        </section>

        <section class="index-description">
          <h2>{{ page.information.title }}</h2>
          <p>{{ page.information.paragraph }}</p>
        </section>

        <a class="full-width-button" onclick="openPortfolio()">
          <div class="wrapper">
            {% if page.language == 'Dutch' %}
            <span>Beluister ons portfolio</span>
            {% endif %}
            {% if page.language == 'English' %}
            <span>Listen to our portfolio</span>
            {% endif %}
          </div>
        </a>

      </div>
    </div>
  </main>

  {% include portfolio.html %}

  <script type="text/javascript" src="../source/body.min.js"></script>

  <script type="text/javascript">
  var cl = cloudinary.Cloudinary.new({cloud_name: "roosdorp"});
  cl.responsive();
  </script>

</BODY>

</HTML>
