---
pageid: index
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="portfolio-tab-1" {% if page.path contains '/en' %}lang="en"{% elsif page.path contains '/de' %}lang="de"{% else %}lang="nl"{% endif %}>

  <HEAD>
    <title>{{ page.page.title }}</title>
    <link rel="canonical" href="{{ site.host | replace: ".nl/", ".nl" }}{{ page.title | replace: "Finetunemusic.nl", "" }}"/>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ site.basehref }}/main.min.css">
    <script src="{{ site.basehref }}/head.min.js"></script>
  </HEAD>

  <BODY>

    {% include navigation.html %}

    <main id="barba-wrapper">
      <div class="barba-container" data-pageid="index" data-url-en="/en" data-url-de="/de" data-url-nl="{{ site.basehref | replace: "/_site", "" }}">
        <div class="barba-content">

          <section class="index-intro">
            {% for introduction in page.introduction %}
            <h1 class='index-intro-h1'>{{ introduction }}</h1>
            {% endfor %}
          </section>

          <section class="index-img">
            <figure>
              <div class='content'>
                <img class='cld-responsive' data-src="{{ site.cdn }}/w_auto,ar_2:1,c_fill,q_80/{{ site.host }}{{ page.image.image | replace: "../uploads", "uploads" }}" />
              </div>
            </figure>
          </section>

          <section class="index-description">
            <h2>{{ page.information.title }}</h2>
            <p class='heading'>{{ page.url }}</p>
          </section>

          <a class="full-width-button" onclick="openPortfolio()">
            <div class="wrapper">
              {% if page.path contains '/en' %}
              <span class='heading'>Listen to our portfolio</span>
              {% elsif page.path contains '/de' %}
              <span class='heading'>Listen to our portfolio</span>
              {% else %}
              <span class='heading'>Beluister ons portfolio</span>
              {% endif %}
            </div>
          </a>

        </div>
      </div>
    </main>

    {% include portfolio.html %}

    <script type="text/javascript" src="{{ site.basehref }}/body.min.js"></script>

    <script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "roosdorp"});
    cl.responsive();
    </script>

  </BODY>

</HTML>
