---
pageid: info
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="portfolio-tab-1" {% if page.language == 'English' %}lang="en"{% elsif page.language == 'German' %}lang="de"{% else %}lang="nl"{% endif %}>

  <HEAD>
    {% include analytics.html %}
    <title>{{ page.page.title }}</title>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ site.basehref }}/main.min.css">
    <script src="{{ site.basehref }}/head.min.js"></script>
  </HEAD>

  <BODY>

    {% include navigation.html %}

    <main id="barba-wrapper">
      <div class="barba-container" data-pageid="info"
      {% if page.url contains 'muziekproductie' or page.url contains 'production' %}
      data-url-en="/en/production{{ site.urlext }}"
      data-url-de="/de/production{{ site.urlext }}"
      data-url-nl="/muziekproductie{{ site.urlext }}"
      {% endif %}
      {% if page.url contains 'voice-overs' %}
      data-url-en="/en/voice-overs{{ site.urlext }}"
      data-url-de="/de/voice-overs{{ site.urlext }}"
      data-url-nl="/voice-overs{{ site.urlext }}"
      {% endif %}
      {% if page.url contains 'studio' %}
      data-url-en="/en/studio{{ site.urlext }}"
      data-url-de="/de/studio{{ site.urlext }}"
      data-url-nl="/studio{{ site.urlext }}"
      {% endif %}>
      <div class="barba-content">

        <section class='info-section'>
          {{ page.text | markdownify }}
        </section>

        <section class="info-img">
          <figure>
            <div class='content'>
              <!-- <img class='cld-responsive' data-src="{{ site.cdn }}/w_auto,ar_4:3,c_fill,q_80/{{ site.host }}{{ page.image.image | replace: "../uploads", "uploads" }}" /> -->
              <img class='cld-responsive' data-src="{{ site.cdn }}/c_fill,w_auto,ar_16:9,dpr_2.0/{{ site.host }}{{ page.image.image | replace: "../uploads", "uploads" }}" />
            </div>
          </figure>
        </section>

        <section class='info-section'>
          <h2>{{ page.clients.title }}</h2>
          <p class="links">
            {% if page.language == 'English' %}
            {% assign sorted = (site.en | sort: 'position') %}
            {% elsif page.language == 'German' %}
            {% assign sorted = (site.de | sort: 'position') %}
            {% else %}
            {% assign sorted = (site.video | sort: 'position') %}
            {% endif %}
            {% for video in sorted %}
            {% if video.published != false %}
            {% for item in video.pages %}
            {% if item == page.title %}
            <a href="{{ video.url }}">{{ video.client }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
          </p>
        </section>

      </div>
    </div>
  </main>

  {% include portfolio.html %}

  <script type="text/javascript" src="{{ site.basehref }}/body.min.js"></script>

  <script type="text/javascript">
  var cl = cloudinary.Cloudinary.new({cloud_name: "roosdorp"});
  cl.responsive();
  </script>

</BODY>

</HTML>
