---
pageid: info
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="portfolio-tab-1"
{% if page.language == 'Dutch' %}lang="nl"{% endif %}
{% if page.language == 'English' %}lang="en"{% endif %}>

  <HEAD>
    <title>{{ page.page.title }}</title>
    {% include meta.html %}
    <link rel="stylesheet" href="../../source/main.css">
    <script src="../../source/head.js"></script>
  </HEAD>

  <BODY>

    {% include navigation.html %}

    <main id="barba-wrapper">
      <div class="barba-container" data-pageid="info">
        <div class="barba-content">

          <section class='info-section'>
            <h2>{{ page.summary.title }}</h2>
            <p>{{ page.summary.paragraph }}</p>
          </section>

          <section class='info-section'>
            <h2>{{ page.clients.title }}</h2>
            <p class="links">
              {% assign sorted = (site.videos | sort: 'position') %}
              {% for videos in sorted %}
              {% if videos.published != false %}
              {% if videos.language == page.language %}
              {% if videos.featured == true %}
              <a href="{{ videos.url }}">{{ videos.client }}</a>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </p>
          </section>

        </div>
      </div>
    </main>

    {% include portfolio.html %}

    <script type="text/javascript" src="../../source/body.js"></script>

  </BODY>

</HTML>
