---
pageid: about
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="no-js portfolio-tab-1" lang="nl">

  <HEAD>
    <title>{{ page.title }}</title>
    {% include meta.html %}
    <link rel="stylesheet" href="../source/main.css">
    <script src="../source/head.js"></script>
  </HEAD>

  <BODY>

{% include navigation.html %}

<main id="barba-wrapper">
  <div class="barba-container" data-pageid="about">
    <div class="barba-content">
    </div>
  </div>
</main>

{% include portfolio.html %}

<script type="text/javascript" src="../source/body.js"></script>
