---
pageid: video
---

<!DOCTYPE html>
<HTML id="{{ layout.pageid }}" class="no-js" lang="nl">

  <HEAD>
    <title>{{ page.title }}</title>
    {% include meta.html %}
    <link rel="stylesheet" href="../source/main.css">
    <script src="../source/head.js"></script>
  </HEAD>

  <BODY>

    {% include navigation.html %}

    <main id="barba-wrapper">
      <div class="barba-container" data-pageid="video">
        <div class="barba-content">

          <section class='video-container'>
            <!-- <iframe id="vimeo" src="https://player.vimeo.com/video/202771816?color=fff&title=0&byline=0&portrait=0" width="16" height="9" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <div id="vimeo"></div>
          </section>

          <section class='project-info'>
            <h2>Samenvatting</h2>
            <p>{{ page.summary }}</p>
            <h2>Geluid</h2>
            <p>{{ page.audio }}</p>
          </section>

        </div>
      </div>
    </main>

    {% include portfolio.html %}

    {% include audio.html %}

    <script type="text/javascript" src="../source/body.js"></script>

    <script src="https://player.vimeo.com/api/player.js"></script>

    <script>
    // if($("#vimeo").length) {
    //
    //   $.getScript( "https://player.vimeo.com/api/player.js", function( data, textStatus, jqxhr ) {
    //     console.log( data ); // Data returned
    //     console.log( textStatus ); // Success
    //     console.log( jqxhr.status ); // 200
    //     console.log( "Load was performed." );
    //   });
    //
    //   var options = { id: 59777392, width: 640, loop: true };
    //   var player = new Vimeo.Player('vimeo', options);
    //
    //   player.setVolume(0);
    //   player.on('play', function() {
    //     // console.log('played the video!');
    //     $("html").addClass("video-playing");
    //     if($("html").hasClass("audio-playing")) { audio.pause(); }
    //   });
    //   player.on('pause', function() {
    //     // console.log('played the video!');
    //     $("html").removeClass("video-playing");
    //   });
    // }
    </script>

  </BODY>

</HTML>
