section.about-description {
  @include container;
  @include responsive-width;
  h1, h2 {
    @include span(12 of 12);
    @include for-tablet-landscape-up {
      position: absolute;
      @include span(4 of 12);
    }
  }
  p {
    @include span(12 of 12);
    max-width: 80rem;
    @include for-tablet-landscape-up {
      @include push(4 of 12);
      @include span(8 of 12);
    }
  }
}

section.people {
  @include container;
  @include responsive-width;
  @include margin(top, 1);
  @include margin(bottom, 1);
  .person {
    @include span(12 of 12 no-gutters);
    @include for-tablet-landscape-max {
      &:nth-child(2) { @include margin(top, 1); }
    }
    @include for-tablet-landscape-up {
      @include span(6 of 12 no-gutters);
      &:nth-child(1) { padding-right: gutters(5.5); }
      &:nth-child(2) { padding-left: gutters(5.5); }
      &:nth-child(2) figure {
        // @include span(54 of 54 no-gutters);
        // @include aspect-ratio(40, 27.75);
      }
    }
  }
  figure {
    // @include span(50 of 54 no-gutters);
    @include aspect-ratio(4, 3);
    background-color: rgba(0, 0, 0, 0.05);
  }
  .description {
    @include span(12 of 12);
    @include margin(top, 1);
    @include for-tablet-landscape-up {
      @include span(6 of 6);
    }
  }
  p {
    + p { margin-top: 3rem; }
    @include for-tablet-landscape-up {
      padding-right: 7rem;
    }
  }
}
