section.index-intro {
  @include container;
  @include responsive-width;
  @include gutters;
  position: relative;
  @include for-tablet-portrait-up { height: 13rem; }
  h1 {
    position: relative;
    display: none;
    // opacity: 0.9;
    @include for-phone-only {
      display: none !important;
      // &:nth-child(1) { display: block !important; }
      // opacity: 1 !important;
    }
    @include for-tablet-portrait-up {
      position: absolute;
      white-space: pre-line;
      bottom: 0;
    }
  }
}

section.index-img {
  @include container;
  @include responsive-width;
  @include margin(top, 1);
  // margin-top: 4rem;
  // margin-top: 70px;
  figure {
    @include aspect-ratio(16, 9);
    @include span(12 of 12);
    img {
      position: absolute;
      left: 0;
      right: 0;
    }
    .content {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

section.index-description {
  @include container;
  @include responsive-width;
  // margin-top: 70px;
  @include margin(top, 1);
  @include margin(bottom, 1);
  @include for-tablet-portrait-up {
    @include margin(bottom, 2);
  }
  h2, p {
    @include span(12 of 12);
    @include for-tablet-landscape-up {
      @include span(6 of 12);
    }
  }
  h2 {
    // display: none;
  }
  p {
    max-width: 60rem;
    font-weight: 300 !important;
  }
}
