html#video {
  overflow: auto;
  body { overflow-y: overlay; }
  .portfolio-wrapper {
    visibility: hidden;
    overflow-y: hidden;
  }
}

section.video-container{
  @include container;
  @include responsive-width;
  // position: relative !important;
  // iframe { touch-action: pan-y !important; }
}

section.project-info {
  @include container;
  @include responsive-width;
  // background-color: pink;
  // margin-bottom: 15rem;
  @include margin(bottom, 2);
  h2 {
    @include span(12 of 12);
    @include margin(top, 1);
    @include for-tablet-landscape-up {
      // float: left;
      // display: inline-block;
      // display: none;
      height: 0;
      // @include span(4 of 12);
    }
  }
  p {
    max-width: 90rem;
    @include span(12 of 12);
    @include for-tablet-landscape-up {
      // float: right;
      // display: inline-block;
      @include push(4 of 12);
      @include span(8 of 12);
      // @include margin(top, 1);
      // padding-top: 0.3rem;
    }
  }
}


// video {
//   max-width: 100%;
//   height: auto;
// }
//
// iframe,
// embed,
// object {
//   max-width: 100%;
// }
