footer {
  background-color: $footer-color001;
  p, h3 {
    color: #fff;
  }
  .container {
    @include container;
    @include responsive-width;
    @include padding(top, 1);
    @include padding(bottom, 1);
    position: relative;
  }
  .logo {
    display: none;
    @include for-tablet-portrait-up {
      position: absolute;
      float: right;
      right: 0;
      max-width: 23rem;
      display: block;
      img { transform:translate(20%, -25%); }
    }
  }
  .wrapper {
    position: relative;
    @include gutters();
    // float: left;
  }
  .contact-column {
    @include margin(bottom, 0.5);
    @include for-tablet-landscape-up {
      float: left;
      display: inline-block;
      vertical-align: top;
      margin-right: 10rem;
    }
    > p {
      white-space: pre-line;
      padding: 0;
      vertical-align: top;
      @include margin(bottom, 0.2)
    }
  }
}
