.portfolio-wrapper {
  pointer-events: none;
  position: fixed;
  // overflow: visible;
  top: 0; left: 0; right: 0; bottom: 0;
  @include for-tablet-landscape-up {
    bottom: -50vh;
  }
  .portfolio-overlay {
    background: $portfolio-overlay-color;
    position: fixed;
    overflow: hidden;
    top: 0; bottom: 0; left: 0; right: 0;
    display: block;
    content: '';
    transition: opacity 0.3s ease-out;
    opacity: 0;
    will-change: opacity;
  }
  .portfolio {
    background: $portfolio-bg-color;
    top: 0; left: 0; right: 0;
    backface-visibility: hidden;
    position: absolute;
    // overflow: visible;
    transition: transform 0.4s ease-in;
    top: 100vh;
    transform: translateY(0);
    will-change: transform;
    @include for-tablet-landscape-up {
      padding-bottom: 50vh;
    }
  }
}

.portfolio-content {
  @include container;
  @include responsive-width;
  position: relative;
  will-change: opacity;
  .portfolio-nav {
    position: relative;
    @include container;
    @include gutters();
    padding-top: 7rem;
    .portfolio-nav-a {
      display: inline-block;
      user-select: none;
      padding: 0 2rem;
      float: left;
      transition: color 0.3s ease;
      @include for-tablet-landscape-up { padding: 0 3rem; }
      &:first-child { padding-left: 0; margin-left: 0; }
      &.active-window { pointer-events: none; }
    }
  }
}

html.portfolio-open {
  background-color: $portfolio-overlay-color;
  overflow: hidden;
  body { overflow-y: scroll; }
  &#video { overflow: auto; }
  &.portfolio-tab-1 .portfolio-wrapper {
    overflow-y: scroll;
    // @include for-tablet-landscape-up { overflow-y: scroll; }
  }
  .portfolio-wrapper { pointer-events: auto; }
  .portfolio-overlay { opacity: 1; }
  .portfolio {
    transition: transform 0.4s ease-out;
    transform: translateY(-85vh);
    @include for-tablet-landscape-up { transform: translateY(-56rem); }
    @include for-big-desktop-up { transform: translateY(-65rem); }
  }
}

#tab-1 {
  @include container;
  margin-top: 4.7rem;
}

#tab-2 {
  @include container;
  @include gutters();
  margin-top: 4rem;
}

#tab-1, #tab-2 {
  @include for-tablet-landscape-max {
      min-height: 100vh !important;
      height: auto !important;
    }
}

::-webkit-scrollbar {
    display: none;
}
