.testdiv {
  float: none;
  @include for-tablet-portrait-up { float: left !important; }
}

.portfolio-wrapper {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  pointer-events: none;
  .portfolio-overlay {
    position: absolute;
    top: -50vh; bottom: 0; left: 0; right: 0;
    display: block;
    content: '';
    overflow: hidden;
    background: $portfolio-overlay-color;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    will-change: opacity;
  }
  .portfolio {
    position: absolute;
    top: 100vh; left: 0; right: 0;
    backface-visibility: hidden;
    background: $portfolio-bg-color;
    transition: transform 0.4s ease-in;
    transform: translateY(0);
    will-change: transform;
    &::after {
      position: fixed;
      bottom: -50vh;
      height: 50vh;
      width: 100%;
      display: block;
      content: '';
      background-color: $portfolio-bg-color;
    }
  }
}

.portfolio-content {
  @include container;
  @include responsive-width;
  position: relative;
  will-change: opacity;
  .portfolio-nav {
    position: relative;
    @include container;
    @include gutters();
    @include padding(top, 1);
    .portfolio-nav-a {
      user-select: none;
      padding: 0 2rem;
      transition: color 0.3s ease;
      @include for-tablet-landscape-up {
        padding: 0 3rem;
        display: inline-block;
        float: left;
      }
      &:first-child { padding-left: 0; margin-left: 0; }
      &.active-window { pointer-events: none; }
    }
  }
}

html.portfolio-opening,
html.portfolio-open {
  overflow: hidden;
  background-color: $portfolio-overlay-color;
  body {
    overflow-y: scroll;
  }
  // &.portfolio-tab-1 .portfolio-wrapper { overflow-y: scroll; }
  // &.portfolio-tab-2a .portfolio-wrapper, &.portfolio-tab-2b .portfolio-wrapper {
  //   overflow-y: scroll;
  //   @include for-tablet-landscape-max { overflow-y: scroll; }
  // }
  .portfolio-wrapper {
    pointer-events: auto;
    overflow-y: scroll;
  }
  .portfolio-overlay {
    opacity: 1;
  }
  .portfolio {
    transition: transform 0.5s ease-out;
    transform: translateY(-100vh);
    @include for-tablet-portrait-up { transform: translateY(-70rem); }
    @include for-tablet-landscape-up { transform: translateY(-56rem); }
    @include for-big-desktop-up { transform: translateY(-65rem); }
  }
}

// html.portfolio-opening,
html.portfolio-open {
  @include for-tablet-landscape-max {
    &#index, &#about, &#info {
      background-color: $portfolio-bg-color;
      body {
        background-color: $portfolio-bg-color;
        > header, > main {
          visibility: hidden;
          max-height: 0;
        }
      }
    }
  }
}

#tab-1 {
  @include container;
  padding-top: 4.7rem;
}

#tab-2 {
  @include container;
  @include gutters();
  padding-top: 4rem;
  .mejs { padding-bottom: 4rem; }
}

html.portfolio-tab-2a,
html.portfolio-tab-2b {
  .portfolio {
    // height: 56rem; max-height: 56rem;
    height: 100vh;
    @include for-tablet-portrait-up {
      overflow: hidden;
      height: 70rem;
      max-height: 70rem;
    }
    @include for-tablet-landscape-up {
      height: 56rem;
      max-height: 56rem;
    }
    @include for-big-desktop-up {
      height: 65rem;
      max-height: 65rem;
    }
  }
}

// @include for-tablet-portrait-up { transform: translateY(-70rem); }
// @include for-tablet-landscape-up { transform: translateY(-56rem); }
// @include for-big-desktop-up { transform: translateY(-65rem); }

// #tab-1, #tab-2 {
//   @include for-tablet-landscape-max {
//     min-height: 100vh !important;
//     // margin: 0 !important;
//     // padding: 0 !important;
//     // top: 0;
//     // bottom: 0;
//     // position: absolute;
//     height: auto !important;
//   }
// }
